#blog {
  .blog-post {
    padding: 50px;

    .post-line {
      display: inline-block;
      margin-top: 20px;
      width: 80%;
      max-width: 520px;
      border-top: 1px solid lighten($secondary-color, 40);
    }
  }

  .content-post {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .post-date {
    color: lighten($secondary-color, 40);
  }

  .post-header {
    padding-bottom: 20px;
  }

  a {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: $color-3;
    font-weight: 500;
  }

  .post-footer {
    max-width: 720px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}
