#contact {
  h1 {
    padding-bottom: 2vh;
  }

  .contact-mail {
    .contact-adress {
      padding-top: 20px;

      h2 {
        background-color: $color-2;
        padding: 10px;

        border-radius: 20px;
      }
    }
  }
}
