#contact {
  h1 {
    padding-bottom: 2vh;
  }

  .email {
    .email-adress {
      padding-top: 20px;

      h2 {
        padding: 10px;
        border: 2px solid $color-1;
        border-radius: 10px;
      }
    }
  }
}
