$primary-color: #f4f4f4;
$secondary-color: #1a1a1a;

$color-1: #ff5400;
$color-2: #ff9e0f;
$color-3: #0ab1a9;
$color-4: #02144c;
$color-5: #cd0d1c;

$show-home-image: true;
$home-image: url(../img/webpage_background.png);
$background-opacity: 0.75;

@mixin easeOut {
  transition: all 0.25s ease-out;
}

@mixin btnStyle {
  background-color: $color-1;
  border: none;
  border-radius: 8px;
  color: $primary-color;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

@mixin inputForm {
  width: 80%;
  max-width: 420px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

@mixin iconStyle {
  width: 64px;
  height: 64px;
  line-height: 60px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}

/* @mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
} */

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
